/*----------------------*/

@mixin border-radius($value) {
    border-radius: $value;
}

@mixin formulaire-title($padding-left, $padding-top, $font-size: 20px) {
    padding-left: $padding-left;
    padding-top: $padding-top;
    font-size: 20px;
}

@mixin btn-min-style($btn-width, $margin-left, $btn-height: 35px, $border-min-radius: 0px, $margin-top: 40px) {
    @include border-radius($border-min-radius);
    width: $btn-width;
    height: $btn-height;
    margin-top: $margin-top;
    margin-left: $margin-left;
}

/*---------------------*/

.btn-formulaire {
    @include btn-min-style(125px, 88%);
    margin-top: 40px;
}

.input-formulaire {
    @include border-radius(0px);
}

#main-title {
    @include formulaire-title(28px, 27px);
}

.critere-poste-line {
    margin-top: 25px;
}

.btn-validation-critere {
    @include btn-min-style(125px, 88%);
    margin-top: 25px;
}

.poste-card {
    width: 360px;
    height: 270px;
    background-color: rgb(248, 255, 193);
}

/*---------------- questionnaire ----------------------*/

.btn-questionnaire {
    @include btn-min-style(200px, 80%);
}

.input-question {
    height: 40px;
    overflow: auto;
}

#label2 {
    margin-top: 20px;
}

.p-num-question {
    text-align: center;
}

.p-question {
    padding-left: 100px;
}

.bouton-questionnaire {
    margin-top: -10px;
    margin-left: 18%;
    width: 125px;
    border-radius: 0px;
}

#btn-valider-questionnaire {
    margin-left: 84%;
}

#btn-add-reponse-question {
    @include border-radius(0px);
}

/*--------------------------------------*/

.popup-reponse {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.259);
}

.popup-reponse-content {
    background-color: #fff;
    width: 60%;
    max-width: 700px;
    margin: 150px 500px auto;
    padding: 25px;
    border-radius: 5px;
    position: relative;
}

.valider-reponse {
    margin-top: 25px;
}

#input-reponse, #input-solution-reponse {
    @include border-radius(0px);
}

.btn-add-reponse-question {
    margin-left: 86%;
}

#popup-question {
    padding-top: 8px;
}

.container-reponse {
    margin-top: 20px;
}

.num-reponse {
    text-align: center;
}