<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertBesoinServlet</servlet-name>
        <servlet-class>controller.besoin.InsertBesoinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBesoinServlet</servlet-name>
        <servlet-class>controller.besoin.CreateBesoinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNoteServlet</servlet-name>
        <servlet-class>controller.besoin.GetNoteExpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNoteExpServlet</servlet-name>
        <servlet-class>controller.besoin.SetNoteExpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNoteDiplomeServlet</servlet-name>
        <servlet-class>controller.besoin.GetNoteDiplomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNoteDiplomeServlet</servlet-name>
        <servlet-class>controller.besoin.SetNoteDiplomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNoteAdresseServlet</servlet-name>
        <servlet-class>controller.besoin.GetNoteAdresseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNoteAdresseServlet</servlet-name>
        <servlet-class>controller.besoin.SetNoteAdresseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNoteNationaliteServlet</servlet-name>
        <servlet-class>controller.besoin.GetNoteNationaliteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNoteNationaliteServlet</servlet-name>
        <servlet-class>controller.besoin.SetNoteNationaliteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNoteSMaritialeServlet</servlet-name>
        <servlet-class>controller.besoin.GetNoteSMaritialeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetNoteSMaritialeServlet</servlet-name>
        <servlet-class>controller.besoin.SetNoteSMaritialeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UtilisateurController</servlet-name>
        <servlet-class>controller.utilisateur.UtilisateurController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnonceController</servlet-name>
        <servlet-class>controller.annonce.AnnonceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertBesoinServlet</servlet-name>
        <url-pattern>/InsertBesoin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBesoinServlet</servlet-name>
        <url-pattern>/CreateBesoin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNoteServlet</servlet-name>
        <url-pattern>/GetNote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNoteExpServlet</servlet-name>
        <url-pattern>/SetNoteExp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNoteDiplomeServlet</servlet-name>
        <url-pattern>/GetNoteDiplome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNoteDiplomeServlet</servlet-name>
        <url-pattern>/SetNoteDiplome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNoteAdresseServlet</servlet-name>
        <url-pattern>/GetNoteAdresse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNoteAdresseServlet</servlet-name>
        <url-pattern>/SetNoteAdresse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNoteNationaliteServlet</servlet-name>
        <url-pattern>/GetNoteNationalite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNoteNationaliteServlet</servlet-name>
        <url-pattern>/SetNoteNationalite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNoteSMaritialeServlet</servlet-name>
        <url-pattern>/GetNoteSMaritiale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetNoteSMaritialeServlet</servlet-name>
        <url-pattern>/SetNoteSMaritiale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UtilisateurController</servlet-name>
        <url-pattern>/Utilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnonceController</servlet-name>
        <url-pattern>/Annonce</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
